* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    font-family: 'Albert Sans', sans-serif;
    background: center/cover url("Warp-2.jpg");
    z-index: -2;
    backdrop-filter: blur(3px);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #000008;

}

.logo {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 5px;
}

.sociale {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}

.sociale img {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    padding: 80px 40px 0px 40px;
}

.right img {
    max-width: 100%;
    max-height: 100%;
    padding: 60px 20px 150px 20px;
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    font-weight: 600;
}

h2 {
    font-size: 1.6em;
    margin-top: 40px;
    font-weight: 300;

}

h3 {
    font-size: 1.2em;
    margin-top: 30px;
    font-weight: 200;
}

.but1 {
    margin-top: 40px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 46px;
    transition: color .4s ease;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.but1:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}



.portfolio p,
.contact p {
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #040218a0;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.firma {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firma a {
    font-weight: 400;
    font-size: 1em;
    color: white;
    padding: 10px 0;
    margin: 0;
}

.firma p {
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin: 0;
}


.projekt img {
    max-width: 100%;
    max-height: 100%;
}



.contact {
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 150px;
}

.formularz p {
    font-weight: 500;
    font-size: 1em;
}

.formularz {
    display: flex;
    flex-direction: column;
    background-color: #000008;
    width: 100%;
    padding: 40px;
}

.formularz-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

input {
    background: none;
    border-bottom: 1px solid #50505075;
    padding-bottom: 5px;
    width: 100%;
    color: white;
}


input:focus {
    outline: none;
    color: white;
    background: none;
}

.but2 {
    display: flex;
    justify-content: center;
    margin: auto;
    border: none;
    background: none;
    color: white;
    padding: .5em 2em;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 46px;
    cursor: pointer;
}



@media screen and (min-width:850px) {
    nav {
        padding: 20px 60px;
    }

    .logo {
        font-size: 1.6em;
    }

    .sociale {
        gap: 2em;
    }

    .sociale img {
        width: 24px;
    }

    .hero {
        flex-direction: row;
        padding: 200px 60px;
        justify-content: space-between;
    }

    h1,
    h2,
    h3 {
        text-align: left;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .left {
        padding: 0;
        width: 50%;

    }

    .right {
        padding: 0;
        width: 45%;
    }

    .right img {
        padding: 0;
        justify-content: right;
    }

    .but1 {
        width: inherit;
        padding: .5em 2em;
    }

    .portfolio p {
        font-size: 2.2em;
        font-weight: 800;
    }

    .projekty {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 60px;
        gap: 2em;
    }

    .firma p {
        font-size: 1em;
        font-weight: 500;
    }

    .contact p {
        font-size: 2.2em;
        font-weight: 800;
    }

    .formularz p {
        font-size: 1em;
        font-weight: 500;
    }

    .formularz {
        padding: 60px;
    }

    .razem {
        display: flex;
        gap: 2em;
    }

    input {
        font-size: 1.5em;
    }

    .formularz-row {
        width: 100%;
        margin-bottom: 80px;
    }

    .but2 {
        font-size: 1.3em;
        margin: auto;
    }
}