* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Albert Sans', sans-serif;
    max-width: 2560px;
    background: center/cover url("Warp-2.jpg");
    backdrop-filter: blur(3px);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 2560px;
    background-color: #000008;

}

.logo {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: 5px;
}

/* 
.strony {
    display: flex;
    flex-direction: row;
    padding: 0 90px;
    justify-content: space-evenly;
    flex-grow: 1;
    color: white;
    font-size: 1.3em;
}

.strony li a {
    justify-content: space-evenly;
    color: white;
    font-weight: 100;
    transition: color .2s ease;
}

.strony .active a {
    font-weight: 300;
    text-decoration: 2px underline solid #B89A76;
    text-underline-offset: 5px;
}

.strony a:hover {
    color: #B89A76;
} */

.sociale {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}

.sociale img {
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    padding: 80px 40px 0px 40px;
}

.right img {
    max-width: 100%;
    max-height: 100%;
    padding: 60px 20px 150px 20px;
}

h1,
h2,
h3 {
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    font-weight: 600;
}

h2 {
    font-size: 1.6em;
    margin-top: 40px;
    font-weight: 300;

}

h3 {
    font-size: 1.2em;
    margin-top: 30px;
    font-weight: 200;
}

.but1 {
    margin-top: 40px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 46px;
    transition: color .4s ease;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.but1:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


.portfolio p,
.contact p {
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    color: white;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #040218a0;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.firma {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firma a {
    font-weight: 400;
    font-size: 1em;
    color: white;
    padding: 10px 0;
    margin: 0;
}

.firma p {
    font-weight: 400;
    font-size: 1em;
    color: white;
    margin: 0;
}


.projekt img {
    max-width: 100%;
    max-height: 100%;
}

.contact {
    display: grid;
    place-items: center;
    align-content: center;
    margin-top: 150px;
}

.formularz {
    background: no-repeat center/100% url("pusta.png");
    width: 90%;
}

.inner {
    padding: 50px 20px;
}

.formularz p {
    margin: 0;
    font-size: 1em;
    color: grey;
    font-weight: 400;
    text-align: left;
}


.formularz {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.formularz-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.formularz p {
    margin-right: 5px;
    font-family: 'Albert Sans', sans-serif;
    font-size: 16px;
    color: white;
    text-align: left;
}


.formularz input {
    padding: 5px;
    font-family: 'Albert Sans', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    caret-color: white;
}

input:focus {
    outline: none;
    color: white;
    background: none;
}

.kont {
    padding: 10px 0;
}

.kont a {
    color: #4af626;
}

.but2 {
    border: none;
    background: none;
    color: white;
    padding: 1em;
}

.footer {
    background-color: #000008;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;

}

.footer p {
    color: white;
    font-weight: 100;
    font-size: 0.9em;
}

@media screen and (min-width:1024px) {}